<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083035074953-j304gejh2ftb30il0hgrkha10p9kes7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083035074953-j304gejh2ftb30il0hgrkha10p9kes7h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1083035074953-cicjtggaf7hrg5238pcuuqfpkb4rjldu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwZK0i4KrKt_kQs2BxZTGo2tqMkKu5yE8</string>
	<key>GCM_SENDER_ID</key>
	<string>1083035074953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.sphara.sphara.sphara</string>
	<key>PROJECT_ID</key>
	<string>sphara-flutter-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>sphara-flutter-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083035074953:ios:6ff7981bc44cb5cb7d2158</string>
</dict>
</plist>